:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: -150px;
    bottom: 0px;
    width: 70px;
    background-color: var(--primary-color);
}

.active { 
    left: 0;
}


.sidebar-text{
    color: var(--secondary-color);
}
.sidebar-link {
    height: 75px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:active {
    text-decoration: underline;
}

.sidebar-link:hover {
    background-color: rgb(163, 152, 152);
}

.sidebar-link img {
    height: 25px;
    margin-bottom: 5px;
}

.sidebar-link div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}